:root {
    --brand-color: darkblue;
    --border: 1px solid black;
    --box-shadow: 0 0 30px gray;
}

nav {
    background-color: var(--brand-color);
    padding: 10px;
}
nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: var(--brand-color);
}

img {
    width: 150px;
    height: auto;
    border: var(--border);
    padding: 2px;
    box-shadow: var(--box-shadow);
}

p {
    padding: 0px;
}

main {
    max-width: 840px;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: var(--border); /* 1 */
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

main img {
    width: 150px;
    height: auto;
    border: var(--border);
    padding: 2px;
    box-shadow: var(--box-shadow);
}

p { padding: 0;}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}